In [1]:
import pandas as pd
dataset_path = './data/sentiment140.csv'
df = pd.read_csv(dataset_path, names = ['polarity', 'id', 'date', 'query', 'user', 'text'], index_col = None,  encoding='latin-1')

In [2]:
df = df.sample(n=10000)

In [4]:
from textcleaner import TextCleaner
cleaner = TextCleaner()

df.loc[:, 'text'] = df['text'].apply(lambda doc: cleaner.clean(doc, False))
df.to_csv('./data/cleaned_notrans.csv', index=False, encoding="utf-8")
df

,polarity,id,date,query,user,text
241952,0,1981203354,Sun May 31 08:38:59 PDT 2009,NO_QUERY,you_plus_me,not sure what's going on with tweetdeck. have ...
1084156,4,1968967256,Fri May 29 22:40:18 PDT 2009,NO_QUERY,sparkle193,"about to go to sleep, lol, goodnight"
1101723,4,1970784963,Sat May 30 05:12:05 PDT 2009,NO_QUERY,N3ph4limsBabe,hi everrone. jeez ii slept for britain last ni...
189376,0,1969113083,Fri May 29 23:03:54 PDT 2009,NO_QUERY,nauratheexplora,it's not my birthday anymore
840826,4,1559874886,Sun Apr 19 12:16:12 PDT 2009,NO_QUERY,StarrDusstt,on my way to wallyworld i *heart* walmart!!!
...,...,...,...,...,...,...
1031952,4,1933135187,Tue May 26 23:05:18 PDT 2009,NO_QUERY,rohitthekkanal,thank god....i have download limit
170905,0,1963051222,Fri May 29 12:07:41 PDT 2009,NO_QUERY,gabymortem,goodbye innocence!!!
652024,0,2238081013,Fri Jun 19 06:47:40 PDT 2009,NO_QUERY,breathediamond,just had the most awful and upsetting nightmare.
1058868,4,1963028324,Fri May 29 12:05:37 PDT 2009,NO_QUERY,stephh,"dairypalooza in our house tonight! blintzes, ..."
1161491,4,1979512462,Sun May 31 03:22:12 PDT 2009,NO_QUERY,leahsasing,rej! i just got my schedule cleared on june 6...

In [5]:
target_col = 'polarity'
drop_cols = ['id', 'date', 'query', 'user']
y = df[target_col]
X = df.loc[:, ~df.columns.isin(drop_cols + [target_col])]